/* === Mobile-design ===*/

/* global styles */
* {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    width: 90%;
}

.bg-dark {
    background-color: #000;
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
background-color: #ccc;
color: #333;
font-size: 14px;
}

/* navbar */

#navbar {
    font-size: 12px;
    text-align: center;
    position: fixed;
    background-color: #000;
    width: 100%;
    padding: 10px;
}

#navbar li, footer li {
    display: inline;
    padding-right: 20px;
}

#navbar a {
    color: #ccc;
}

#navbar a:hover {
    color: rgb(0, 0, 255)
}

/* showcase */

#img-div {
    width: 90px;
    border: 2px solid #fff;
    margin: auto;
    border-radius: 50%;
}

#img-div img{
    width: 100%;
    border-radius: 50%;
}

#showcase {
    background-color: #000;
    height: 100vh;
}

#showcase-content {
    color: #fff;
    text-align: center;
    padding-top: 15%;
}

#showcase-border {
    background-color: rgb(94, 83, 83);
    height: 20px;
    width: 100%;
}
#scroll-txt {
    font-size: 12px;
}

hr {
    margin: 15px 20px;
}

/* skills */

#skills li {
    padding-top: 10px;
    width: fit-content;
}

#skills {
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content:space-between;
    margin-bottom: 30px;
}

#skills li:hover {
    font-weight: 700;
    cursor: pointer;
}

/* projects */
#project-section h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}
#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

#projects a {
    color: #fff;
}

#projects .mid {
    margin-top: 30px;
}

.my-project {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #000;
    padding: 0 10px;
    border: #909090;
    border-radius: 15px;
    height: 100px;
    box-shadow: #333 5px 5px 9px 6px;
    margin-right: 20px;
}

.my-project:hover {
    background-color: #d000;
    color: #000;
    transition: 0.6s;
}

#more {
    text-align: center;
}

#more button{
    background-color: #000;
    color:#ccc;
    font-size: 15px;
    padding: 10px 15px;
    border: none;
    margin: 50px auto;
    border-radius: 10px;
}

#more button:hover {
    cursor: pointer;
    box-shadow: #333 5px 5px 9px 4px;
}

/* === Desktop-design ===*/

@media(min-width:568px) {
    /* global */
    body {
        font-size: 25px;
    }

    body > div{
        display: grid;
        grid-template-columns: 20% 80%;
        overflow: hidden;
    }
    
    /* navbar */

    #navbar {
        width: 20%;
        height: 100vh;
        box-sizing: border-box;
    }

    #img-div {
        width: 150px;
        border: 5px solid #fff;
        margin: auto;
        border-radius: 50%;
    }

    #navbar li{
        display: block;
        padding: 30px 40px;
        font-size: 25px;
        text-transform: uppercase;
        text-align: left;
    }

    #scroll-txt {
        font-size: 18px;
        padding-top: 30px;
    }

    hr {
        margin: 30px 30px;
    }

    /* skills */

    #skills {
        font-size: 20px;
        grid-template-columns: 60% 40%;
        grid-gap: 70px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* projects */

    .my-project {
        padding: 0 30px;
        height: 200px;
        margin: 0 15px;
    }

    #projects .mid {
        margin-top: 50px;
    }

    #more button{
        font-size: 25px;
        padding: 30px;
        margin: 60px auto;
    }

    /* footer */

    footer {
        display: none;
    }

}